# Flask ORM

### Introduction

### Seeing the films database

In [3]:
import pandas as pd

df = pd.read_csv('actors.csv')

In [4]:
df.to_csv('./actors.csv')

In [5]:
import sqlite3

conn = sqlite3.connect('films.db')

cursor = conn.cursor()

In [10]:
cursor.execute("""SELECT 
    name
FROM 
    sqlite_schema
WHERE 
    type ='table' AND 
    name NOT LIKE 'sqlite_%';""")

In [11]:
cursor.fetchall()

[('actors',),
 ('directors',),
 ('writers',),
 ('movies',),
 ('movie_actors',),
 ('movie_directors',),
 ('movie_writers',)]

In [21]:
movies_df = pd.read_sql("SELECT * FROM movies", conn)

In [23]:
movies_df.to_csv('movies.csv', index = False)

In [24]:
movies = pd.read_csv('movies.csv')

In [26]:
movies.columns

Index(['id', 'title', 'studio', 'runtime', 'description', 'release_date',
       'year'],
      dtype='object')

In [29]:
print(pd.io.sql.get_schema(movies.reset_index(), 'movies'))

CREATE TABLE "movies" (
"index" INTEGER,
  "id" INTEGER,
  "title" TEXT,
  "studio" TEXT,
  "runtime" REAL,
  "description" TEXT,
  "release_date" TEXT,
  "year" INTEGER
)

In [31]:
print(pd.io.sql.get_schema(actors_df.reset_index(), 'actors'))

CREATE TABLE "actors" (
"index" INTEGER,
  "id" INTEGER,
  "name" TEXT
)

In [33]:
movie_actors_df = pd.read_csv('./movie_actors.csv')
movie_actors_df[:2]

   movie_id  actor_id
0         1         1
1         1      1339

In [34]:
print(pd.io.sql.get_schema(movie_actors_df.reset_index(), 'movie_actors'))

CREATE TABLE "movie_actors" (
"index" INTEGER,
  "movie_id" INTEGER,
  "actor_id" INTEGER
)

In [35]:
movie_directors_df = pd.read_csv('./movie_directors.csv')
movie_directors_df[:2]

   movie_id  director_id
0         1            1
1         1         7166

In [36]:
print(pd.io.sql.get_schema(movie_directors_df.reset_index(), 'movie_directors'))

CREATE TABLE "movie_directors" (
"index" INTEGER,
  "movie_id" INTEGER,
  "director_id" INTEGER
)

In [37]:
directors_df = pd.read_csv('./directors.csv')

In [38]:
print(pd.io.sql.get_schema(directors_df.reset_index(), 'directors'))

CREATE TABLE "directors" (
"index" INTEGER,
  "name" TEXT
)

In [40]:
directors_df = pd.read_sql("SELECT * FROM directors", conn)

In [43]:
directors_df.to_csv('./directors.csv', index = False)

In [45]:
directors_df = pd.read_csv('./directors.csv')

In [46]:
print(pd.io.sql.get_schema(directors_df.reset_index(), 'directors'))

CREATE TABLE "directors" (
"index" INTEGER,
  "id" INTEGER,
  "name" TEXT
)